<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/comprar.css" />
</head>
<body>
    <nav class="nav">
        <img src="/imagenes/img_uno/header_logo.png" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#quienes">Quiénes somos</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="/tienda">Tienda</a></li>
            <li><a class="nav__rosa" href="#servicios">Donar</a></li>
        </ul>
    </nav>
    <section class="necesario"></section>
    <main>
        <section class="compra">
            <section class="compra__carro">
                <h2 class="compra__carro__tit">¡Hola!</h2>
                <p class="compra__carro__des">Has agregado al carrito estos ítems de nuestra tienda:</p>
                <h2 class="compra__carro__tit2">Carrito</h2>
                <section class="compra__carro__prop">
                    {{#each productos}}
                    <section class="compra__carro__prop__fn">
                        <p class="compra__carro__prop__fn__num">{{@index}}</p>
                        <p class="compra__carro__prop__fn__titu">{{titulo}}</p>
                        <p class="compra__carro__prop__fn__precio">{{precio}}</p>
                    </section>
                    {{/each}}
                </section>
                <section class="compra__carro__tot">
                    <p class="compra__carro__tot__txt">TOTAL</p>
                    <p class="compra__carro__tot__res"></p>
                </section>
            </section>
            <section class="compra__pagar">
                <h2 class="compra__pagar__tit">Detalles de pago</h2>
                <p class="compra__pagar__dat">Nombre completo</p>
                <input type="text">
                <p class="compra__pagar__dat">Número de la tarjeta</p>
                <input type="text">
                <p class="compra__pagar__dat">Fecha de vencimiento</p>
                <input type="text">
                <button>PAGAR</button>
            </section>
        </section>
    </main>
    <script src="/scripts/comprar.js"></script>
</body>
</html>