* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: WonderMedium;
  src: url(/fonts/WonderUnitSans-Medium.woff);
}

@font-face {
  font-family: WonderBold;
  src: url(/fonts/WonderUnitSans-Bold.woff);
}

@font-face {
  font-family: WonderRegular;
  src: url(/fonts/WonderUnitSans-Regular.woff);
}

@font-face {
  font-family: WonderSemibold;
  src: url(/fonts/WonderUnitSans-Semibold.woff);
}

body {
  background-color: white;
}

h1 {
  color: white;
  font-family: WonderBold;
  font-size: 45px;
}

h2 {
  color: white;
  font-family: WonderSemibold;
  font-size: 28px;
}

.parrafo__uno {
  font-family: WonderMedium;
  font-size: 15px;
  letter-spacing: 4px;
}

.parrafo__dos {
  font-family: WonderRegular;
  font-size: 20px;
}

.nav {
  background-color: #F4D065;
  position: fixed;
  width: 100%;
  height: 56px;
  font-family: WonderBold;
}

.nav img {
  float: left;
  padding: 0.3% 5%;
  height: 70%;
}

.nav ul {
  list-style-type: none;
  margin: 0px 60px 0px 0px;
  padding: 0px;
  overflow: hidden;
  float: right;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.nav__rosa) {
  background-color: #EFBB3A;
}

.nav__rosa {
  background-color: #E88982;
}

.nav__rosa:hover {
  background-color: #E85652;
}

.necesario {
  background-color: white;
  width: 100%;
  height: 56px;
}

main {
  width: auto;
  margin: 0% 7%;
}

main .compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .compra__carro {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #E85652;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 0%;
}

main .compra__carro__tit {
  padding: 10% 5% 2% 7%;
  font-size: 24px;
}

main .compra__carro__des {
  padding: 0% 7%;
  font-size: 15px;
  font-family: WonderRegular;
  color: white;
}

main .compra__carro__tit2 {
  padding: 6% 0%;
  font-size: 28px;
  text-align: center;
}

main .compra__carro__prop {
  font-family: WonderRegular;
  color: white;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main .compra__carro__prop__fn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2% 7% 2% 7%;
}

main .compra__carro__prop__fn__num {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0% 0% 0% 12%;
}

main .compra__carro__prop__fn__titu {
  text-align: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

main .compra__carro__prop__fn__precio {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0% 4%;
}

main .compra__carro__tot {
  font-family: WonderBold;
  letter-spacing: 3px;
  color: white;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 4% 7% 10% 7%;
}

main .compra__carro__tot__txt {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0% 7%;
  text-align: left;
}

main .compra__carro__tot__res {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0% 4%;
}

main .compra__pagar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5% 0% 5% 8%;
}

main .compra__pagar__if__tit {
  color: #000744;
  margin-bottom: 9%;
}

main .compra__pagar__if__dat {
  font-family: WonderMedium;
  font-size: 15px;
  margin-bottom: 3%;
}

main .compra__pagar__if__inp {
  font-family: WonderMedium;
  font-size: 15px;
  margin-bottom: 3%;
  width: 230px;
}

main .compra__pagar__boton {
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 8px 13px;
  margin: 7% 1% 0% 0%;
  background-color: white;
}

main footer {
  margin: 4% 0% 0% 0%;
  background-color: #9EC246;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

main footer div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main footer div:nth-child(1) {
  margin: 0px 0px 0px 75px;
}

main footer div:nth-child(2) {
  color: white;
  margin: 0px 0px 0px 75px;
  line-height: 45px;
}

main footer div:nth-child(2) span {
  font-family: WonderBold;
}

main footer div:nth-child(3) {
  color: white;
  margin: 0px 0px 0px 75px;
  line-height: 45px;
}

main footer div:nth-child(3) ul {
  list-style-type: none;
}

main footer div:nth-child(3) span {
  font-family: WonderBold;
}
/*# sourceMappingURL=comprar.css.map */